# add number of employee in the company

In [7]:
import pandas as pd
import time
from selenium import webdriver

# add our job datafile

In [2]:
job_data = pd.read_excel("Job_data_data scientist.xlsx")

# open our webdriver

In [3]:

wd = webdriver.Edge(executable_path="./msedgedriver.exe")

# login to linkedin

In [ ]:
userName = ""
password = ""

In [4]:
wd.get('https://www.linkedin.com/login')

nameidElem = wd.find_element_by_id('username')
nameidElem.send_keys(userName)

pwdidElem = wd.find_element_by_id('password')
pwdidElem.send_keys(password)

sign_in = wd.find_element_by_xpath('//*[@id="organic-div"]/form/div[3]/button').click()

# function to get the number of employee in a company

In [8]:
def get_num_employee(url):
    if url == "NA":
        num_employee = url
    
    else:
        try:
            wd.get(url)
            num_employee = wd.find_element_by_css_selector('[class="org-about-company-module__company-size-definition-text t-14 t-black--light mb1 fl"]').get_attribute("innerText")
        except:
            href_list = wd.find_elements_by_css_selector('a')
            for href in href_list:
                link = href.get_attribute("href")
                if ("about" in link) and ("linkedin" in link) :
                    wd.get(href.get_attribute("href"))
                    time.sleep(5) 
                    num_employee = wd.find_element_by_css_selector('[class="org-about-company-module__company-size-definition-text t-14 t-black--light mb1 fl"]').get_attribute("innerText")
                    break
                else:
                    continue
                
    return num_employee

# add new column "Employee Size" to our current job data

In [9]:
job_data["Employee_Size"] = job_data["Company_Link"].apply(get_num_employee)

In [10]:
job_data.head()

,ID,Date,Company,Title,Location,Description,Level,num_Applicant,Type,Job_Link,Company_Link,Function,Industries,Employee_Size
0,2495155469,2021-03-31,Traveloka,Data Scientist,"Jakarta, Jakarta, Indonesia",Given a business problem and requirements from...,Entry level,46 applicants,Full-time,https://id.linkedin.com/jobs/view/data-scienti...,https://id.linkedin.com/company/traveloka-com?...,"Engineering,Information Technology",Internet,"1,001-5,000 employees"
1,2466698262,2021-04-03,QuantumBlack,Data Scientist - QuantumBlack,"Jakarta, Jakarta, Indonesia",Apply Now Qualifications Bachelor or MSc or ...,Executive,42 applicants,Full-time,https://id.linkedin.com/jobs/view/data-scienti...,https://uk.linkedin.com/company/quantumblack?t...,"Consulting,Information Technology,Analyst","Information Technology and Services,Computer S...",201-500 employees
2,2479097487,2021-04-07,Tokopedia,Data Science Lead,"Jakarta, Indonesia",Job Description: Engaging with business teams...,Mid-Senior level,78 applicants,Full-time,https://id.linkedin.com/jobs/view/data-science...,https://id.linkedin.com/company/pt--tokopedia?...,"Analyst,Science",Internet,"1,001-5,000 employees"
3,2479941826,2021-04-08,PT. XL Axiata Tbk,Sr. Data Scientist - CVM,"Jakarta, Indonesia",Roles : Lead the development of predictive cu...,Associate,90 applicants,Full-time,https://id.linkedin.com/jobs/view/sr-data-scie...,https://id.linkedin.com/company/pt.-xl-axiata-...,"Analyst,Marketing,Business Development","Telecommunications,Internet,Computer & Network...","1,001-5,000 employees"
4,2463401542,2021-03-16,FNA,Data Scientist - Remote,"Jakarta, Jakarta, Indonesia",Title: Data Scientist Location: Remotely from...,Executive,112 applicants,Full-time,https://id.linkedin.com/jobs/view/data-scienti...,https://uk.linkedin.com/company/fnalab?trk=pub...,"Engineering,Information Technology","Information Technology and Services,Computer S...",11-50 employees

# save/export to json/excel

In [11]:
job_data.to_json("job_data.json")

In [13]:
job_data.to_excel("job_data.xlsx", index=False)