In [1]:
from selenium import webdriver
from collections import defaultdict

In [2]:
import time
import pandas as pd

# put your keyword here

In [3]:
keyword="data scientist"

# this is the linkedin url for job search

In [4]:
url = f"https://www.linkedin.com/jobs/search?keywords={keyword}&location=Indonesia&trk=public_jobs_jobs-search-bar_search-submit&redirect=false&position=1&pageNum=0"

# Open your webdriver and open the URL

In [5]:
wd = webdriver.Edge(executable_path="./msedgedriver.exe")
wd.get(url)

# get number of jobs

In [6]:
no_of_jobs = int(wd.find_element_by_css_selector("h1>span").get_attribute("innerText"))
print (no_of_jobs)

306

# Scroll all the job until LinkedIn shows all the jobs

In [7]:
i = 2
while i <= int(no_of_jobs/25)+1: 
    wd.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    i = i + 1
    try:
        wd.find_element_by_xpath('/html/body/main/div/section/button').click()
        time.sleep(5)
    except:
        pass
        time.sleep(5)

# get all the job inside a list

In [8]:
jobs_lists = wd.find_element_by_class_name('jobs-search__results-list')
jobs = jobs_lists.find_elements_by_tag_name('li') # return a list

# for every job, get all the information in this code [Job Id, Job Title, Company Name, Location, Date, Job_Link, Company_Link, Job Description,Seniority,Employment Type, Industries, and application numbers

In [17]:
job_id= []
job_title = []
company_name = []
location = []
date = []
job_link = []
company_link=[]
jd = []
job_pay = []
seniority = []
emp_type = []
job_func = defaultdict()
industries = defaultdict()
applicant_num=[]
for job in jobs[0:50]:
    job_id0 = job.get_attribute('data-id')
    job_id.append(job_id0)

    job_title0 = job.find_element_by_css_selector('h3').get_attribute('innerText')
    job_title.append(job_title0)

    company_name0 = job.find_element_by_css_selector('h4').get_attribute('innerText')
    company_name.append(company_name0)

    location0 = job.find_element_by_css_selector('[class="job-result-card__location"]').get_attribute('innerText')
    location.append(location0)

    date0 = job.find_element_by_css_selector('div>div>time').get_attribute('datetime')
    date.append(date0)

    job_links = job.find_elements_by_css_selector('a')
    try:
        company_link.append(job_links[1].get_attribute('href'))
    except:
        company_link.append("NA")
        
    job_link.append(job_links[0].get_attribute('href'))
    #for item in range(len(jobs)):
    
    # clicking job to view job details
    job_click_path = f'/html/body/main/div/section[2]/ul/li[{jobs.index(job)+1}]/img'
    job_click = job.find_element_by_xpath(job_click_path).click()
    time.sleep(5)
    
    try:
        applicant_path = '/html/body/main/section/div[2]/section[1]/div[1]//div[1]/h3[2]/figure/figcaption'
        applicant = job.find_element_by_xpath(applicant_path).get_attribute('innerText')
        
    except:
        try:
            #print(company_name0)
            applicant_path = '/html/body/main/section/div[2]/section[1]/div[1]/div[1]/h3[2]/span[2]'
            applicant = job.find_element_by_xpath(applicant_path).get_attribute('innerText')
        except:
            applicant_path = '/html/body/main/section/div[2]/section[1]/div[1]/div[1]/h3[3]/figure/figcaption'
            applicant = job.find_element_by_xpath(applicant_path).get_attribute('innerText')
        
    applicant_num.append(applicant)    

    jd_path = '/html/body/main/section/div[2]/section[2]/div'
    jd0 = job.find_element_by_xpath(jd_path).get_attribute('innerText')
    
    if "Base pay range" in jd0:
        order_=3
        jd_path = '/html/body/main/section/div[2]/section[3]/div'
        jd0 = job.find_element_by_xpath(jd_path).get_attribute('innerText')
        jd.append(jd0)
    else:
        jd.append(jd0)
        order_=2
    
    try:
        seniority_path = f'/html/body/main/section/div[2]/section[{order_}]/ul/li[1]/span'
        seniority0 = job.find_element_by_xpath(seniority_path).get_attribute('innerText')
        seniority.append(seniority0)
    except:
        print(company_name0)

    emp_type_path = f'/html/body/main/section/div[2]/section[{order_}]/ul/li[2]/span'
    emp_type0 = job.find_element_by_xpath(emp_type_path).get_attribute('innerText')
    emp_type.append(emp_type0)
    
    job_func0=[]
    industries0=[]
    job_func_path = f'/html/body/main/section/div[2]/section[{order_}]/ul/li[3]/span'
    job_func_elements = job.find_elements_by_xpath(job_func_path)
    for element in job_func_elements:
        job_func0.append(element.get_attribute('innerText'))
        job_func_final = ",".join(job_func0)
    job_func[job_id0]=(job_func_final)
    industries_path = '//*[@id="main-content"]/section/div[2]/section[2]/ul/li[4]/span'
    industries_elements = job.find_elements_by_xpath(industries_path)
    for element in industries_elements:
        industries0.append(element.get_attribute('innerText'))
        industries_final = ",".join(industries0)
        industries[job_id0]=(industries_final)

# create a dataframe from all the jobs

In [19]:
job_data = pd.DataFrame({'ID': job_id,
'Date': date,
'Company': company_name,
'Title': job_title,
'Location': location,
'Description': jd,
'Level': seniority,
'num_Applicant': applicant_num,                       
'Type': emp_type,
'Job_Link': job_link,
'Company_Link':company_link
                    
})
# cleaning description column
job_data['Description'] = job_data['Description'].str.replace('\n',' ')
#job_data.to_excel('LinkedIn Job Data_Data Scientist.xlsx', index = False)

In [20]:
job_data = job_data.set_index('ID')

# combine job data table with function table and industries table

In [21]:
Function_table = pd.DataFrame({"ID":job_func.keys(),"Function":job_func.values()}).set_index("ID")
industries_table = pd.DataFrame({"ID":industries.keys(),"Industries":industries.values()}).set_index("ID")

In [22]:
job_data_2 = job_data.join(Function_table).join(industries_table)

In [23]:
job_data_2

,Date,Company,Title,Location,Description,Level,num_Applicant,Type,Job_Link,Company_Link,Function,Industries
ID,,,,,,,,,,,,
2495155469,2021-03-31,Traveloka,Data Scientist,"Jakarta, Jakarta, Indonesia",Given a business problem and requirements from...,Entry level,46 applicants,Full-time,https://id.linkedin.com/jobs/view/data-scienti...,https://id.linkedin.com/company/traveloka-com?...,"Engineering,Information Technology",Internet
2466698262,2021-04-03,QuantumBlack,Data Scientist - QuantumBlack,"Jakarta, Jakarta, Indonesia",Apply Now Qualifications Bachelor or MSc or ...,Executive,42 applicants,Full-time,https://id.linkedin.com/jobs/view/data-scienti...,https://uk.linkedin.com/company/quantumblack?t...,"Consulting,Information Technology,Analyst","Information Technology and Services,Computer S..."
2479097487,2021-04-07,Tokopedia,Data Science Lead,"Jakarta, Indonesia",Job Description: Engaging with business teams...,Mid-Senior level,78 applicants,Full-time,https://id.linkedin.com/jobs/view/data-science...,https://id.linkedin.com/company/pt--tokopedia?...,"Analyst,Science",Internet
2479941826,2021-04-08,PT. XL Axiata Tbk,Sr. Data Scientist - CVM,"Jakarta, Indonesia",Roles : Lead the development of predictive cu...,Associate,90 applicants,Full-time,https://id.linkedin.com/jobs/view/sr-data-scie...,https://id.linkedin.com/company/pt.-xl-axiata-...,"Analyst,Marketing,Business Development","Telecommunications,Internet,Computer & Network..."
2463401542,2021-03-16,FNA,Data Scientist - Remote,"Jakarta, Jakarta, Indonesia",Title: Data Scientist Location: Remotely from...,Executive,112 applicants,Full-time,https://id.linkedin.com/jobs/view/data-scienti...,https://uk.linkedin.com/company/fnalab?trk=pub...,"Engineering,Information Technology","Information Technology and Services,Computer S..."
2479007184,2021-04-07,tiket.com,Data Scientist Lead,"Jakarta, Indonesia",Job Overview The ideal candidate is adept ...,Mid-Senior level,35 applicants,Full-time,https://id.linkedin.com/jobs/view/data-scienti...,https://id.linkedin.com/company/pt-global-tike...,"Finance,Accounting/Auditing,Administrative",Information Technology and Services
2482805404,2021-04-09,PT DJARUM,AI Engineer,"Jakarta, Indonesia",Our Growing Technology company is looking for ...,Entry level,151 applicants,Full-time,https://id.linkedin.com/jobs/view/ai-engineer-...,https://id.linkedin.com/company/pt-djarum?trk=...,Information Technology,Information Technology and Services
2404196558,2021-02-01,Sayurbox,Data Scientist,"Pasar Minggu, Jakarta, Indonesia",Sayurbox is a provider of fresh produce to hou...,Mid-Senior level,131 applicants,Full-time,https://id.linkedin.com/jobs/view/data-scienti...,https://id.linkedin.com/company/sayurboxoffici...,"Engineering,Information Technology","Marketing and Advertising,Internet,Consumer Goods"
2411127378,2021-03-28,Ajaib,Head of Data Science,"Jakarta, Indonesia",Direct message the job poster from Ajaib Ande...,Mid-Senior level,Over 200 applicants,Full-time,https://id.linkedin.com/jobs/view/head-of-data...,https://id.linkedin.com/company/ajaib-id?trk=p...,Internet,NaN
2443368532,2021-03-02,Cermati.com,Data Scientist,"Jakarta, Jakarta, Indonesia",Company Description Cermati is a financial te...,Mid-Senior level,141 applicants,Full-time,https://id.linkedin.com/jobs/view/data-scienti...,https://id.linkedin.com/company/cermati?trk=pu...,"Engineering,Information Technology","Information Technology and Services,Internet,F..."
2479067474,2021-04-07,Accenture Southeast Asia,Data Science Consultant,"Jakarta, Jakarta, Indonesia",Accenture is a leading global professional ser...,Mid-Senior level,32 applicants,Full-time,https://id.linkedin.com/jobs/view/data-science...,https://my.linkedin.com/company/accenture-sea?...,"Design,Information Technology","Information Technology and Services,Computer S..."
2464892187,2021-03-25,PT Bank Sinarmas Tbk,Data Science Graduate Program,"Jakarta, Indonesia",Direct message the job poster from PT Bank Sin...,Associate,Over 200 applicants,Full-time,https://id.linkedin.com/jobs/view/data-science...,https://id.linkedin.com/company/pt-bank-sinarm...,Information Technology,Banking
2468040691,2021-03-29,PT. Yuinsight Technologies International,Senior Data Scientist,"Jakarta, Indonesia",PT. Yuinsight Technologies is subsidiary in In...,Mid-Senior level,Be among the first 25 applicants,Full-time,https://id.linkedin.com/jobs/view/senior-data-...,https://id.linkedin.com/company/pt-yuinsight-t...,Information Technology,"Information Technology and Services,Financial ..."
2466404262,2021-03-26,Purwadhika Digital Technology School,Data Science Manager,"Tangerang, Banten, Indonesia",Direct message the job poster from Purwadhika ...,Mid-Senior level,Be among the first 25 applicants,Full-time,https://id.linkedin.com/jobs/view/data-science...,https://www.linkedin.com/company/purwadhika-st...,Professional Training & Coaching,NaN
2460871610,2021-03-23,Bukalapak,Senior Data Scientist - BI,"Jakarta, Indonesia",Direct message the job poster from Bukalapak ...,Mid-Senior level,35 applicants,Full-time,https://id.linkedin.com/jobs/view/senior-data-...,https://id.linkedin.com/company/pt-bukalapak-c...,"Information Technology,Engineering,Research",Information Technology and Services
2433068069,2021-04-02,Gojek,Machine Learning Engineer - Merchant Platform,"Jakarta, Jakarta, Indonesia",About The Role Fasten your helmet and climb o...,Entry level,120 applicants,Full-time,https://id.linkedin.com/jobs/view/machine-lear...,https://id.linkedin.com/company/gojek?trk=publ...,"Engineering,Information Technology","Computer Software,Internet,Financial Services"
2476449815,2021-04-05,BAT,Senior Data Scientist,"Jakarta, Jakarta, Indonesia",BAT is evolving at pace - truly like no other ...,Associate,Be among the first 25 applicants,Full-time,https://id.linkedin.com/jobs/view/senior-data-...,https://uk.linkedin.com/company/british-americ...,"Research,Science","Consumer Goods,Tobacco"
2479974722,2021-04-08,PT. SURYA MADISTRINDO,Data Engineer,"Jakarta, Indonesia",At PT Surya Madistrindo (Subsidiary of PT Guda...,Entry level,Over 200 applicants,Full-time,https://id.linkedin.com/jobs/view/data-enginee...,https://id.linkedin.com/company/pt.-surya-madi...,Information Technology,Tobacco
2456214323,2021-03-11,Michael Page,Lead Data Scientist,"Jakarta, Jakarta, Indonesia",Lead Data Scientist Join one of the fastest g...,Associate,Be among the first 25 applicants,Full-time,https://id.linkedin.com/jobs/view/lead-data-sc...,https://uk.linkedin.com/company/michael-page?t...,Other,Financial Services
2469057620,2021-02-23,PT Berlian Sistem Informasi,Data Scientist,"East Jakarta, Jakarta, Indonesia","Support development, enhancement, evaluate and...",Entry level,32 applicants,Full-time,https://id.linkedin.com/jobs/view/data-scienti...,https://id.linkedin.com/company/pt-berlian-sis...,"Engineering,Information Technology","Information Technology and Services,Computer S..."
2405862762,2021-01-08,FinAccel,Data Scientist,"Jakarta, Jakarta, Indonesia",As a Data Scientist you’ll be part of a team t...,Entry level,53 applicants,Full-time,https://id.linkedin.com/jobs/view/data-scienti...,https://id.linkedin.com/company/finaccel-pte-l...,"Engineering,Information Technology","Computer Software,Internet,Financial Services"
2472208489,2021-03-31,Tata Consultancy Services,Data Engineer,"Jakarta, Indonesia",Direct message the job poster from Tata Consul...,Mid-Senior level,51 applicants,Full-time,https://id.linkedin.com/jobs/view/data-enginee...,https://in.linkedin.com/company/tata-consultan...,Information Technology,Information Technology and Services
2454019931,2021-03-17,Xiaomi Indonesia,Data Engineer,"Jakarta, Indonesia",Direct message the job poster from Xiaomi Indo...,Mid-Senior level,Over 200 applicants,Contract,https://id.linkedin.com/jobs/view/data-enginee...,https://id.linkedin.com/company/xiaomiindonesi...,"Analyst,Engineering",Internet
2458039353,2021-03-29,TransPerfect,Artificial Intelligence Researcher,Jakarta Metropolitan Area,We are looking for participants to join our ne...,Entry level,Be among the first 25 applicants,Full-time,https://id.linkedin.com/jobs/view/artificial-i...,https://www.linkedin.com/company/transperfect?...,"Administrative,Advertising,Business Development","Translation and Localization,Computer Games,Me..."
2468051857,2021-03-29,CIMB Niaga,Data Engineer,"Kota Tangerang Selatan, Banten, Indonesia",Job Description: Perform application syste...,Mid-Senior level,106 applicants,Full-time,https://id.linkedin.com/jobs/view/data-enginee...,https://id.linkedin.com/company/pt--bank-cimb-...,Information Technology,Banking
2491374377,2021-03-18,KOMPAS GRAMEDIA,Data Analyst - Jakarta,"Jakarta, Jakarta, Indonesia",Job Description & requirements Job Descripti...,Entry level,76 applicants,Full-time,https://id.linkedin.com/jobs/view/data-analyst...,https://id.linkedin.com/company/kompas-gramedi...,Information Technology,"Information Technology and Services,Computer S..."
2472270508,2021-03-31,Agoda,Data Science Manager (Bangkok based),"Jakarta, Jakarta, Indonesia",About Agoda Agoda is an online travel booking...,Director,Be among the first 25 applicants,Full-time,https://id.linkedin.com/jobs/view/data-science...,https://sg.linkedin.com/company/agoda?trk=publ...,Other,Internet
2483817197,2021-03-31,Lynx Analytics,Senior Data Scientist,"Jakarta, Jakarta, Indonesia","Founded in 2010, Lynx Analytics is a predictiv...",Associate,Be among the first 25 applicants,Full-time,https://id.linkedin.com/jobs/view/senior-data-...,https://sg.linkedin.com/company/lynx-analytics...,Other,Information Technology and Services
2449426736,2021-03-05,PT. Mega Central Finance,Lowongan Senior Data Scientist,"Jakarta, Jakarta, Indonesia",Company Description: PT. Mega Central Finance ...,Associate,Be among the first 25 applicants,Full-time,https://id.linkedin.com/jobs/view/lowongan-sen...,https://id.linkedin.com/company/pt-mega-centra...,Other,"Banking,Financial Services"
2473432297,2021-04-08,OLX Group,Senior Analytics Specialist,"Jakarta, Jakarta, Indonesia","Senior Analytics Specialist. Jakarta, Indonesi...",Associate,Be among the first 25 applicants,Full-time,https://id.linkedin.com/jobs/view/senior-analy...,https://nl.linkedin.com/company/olx-group?trk=...,Other,"Marketing and Advertising,Internet,Human Resou..."
2467660674,2021-04-05,Danone,Data Engineer,"Jakarta, Jakarta, Indonesia",About The Job Data engineers are responsible ...,Not Applicable,55 applicants,Full-time,https://id.linkedin.com/jobs/view/data-enginee...,https://fr.linkedin.com/company/danone?trk=pub...,Information Technology,"Consumer Goods,Food & Beverages,Food Production"
2491808575,2021-04-06,Flash Coffee,Data Engineer,"Jakarta, Jakarta, Indonesia",Do you love coffee & tech put together? Then y...,Entry level,25 applicants,Full-time,https://id.linkedin.com/jobs/view/data-enginee...,https://id.linkedin.com/company/flash-coffee?t...,Information Technology,Food & Beverages
2495181788,2021-03-31,Migo,Junior Researcher (6-Month Contract),"Jakarta, Jakarta, Indonesia",Job Overview Migo is looking for junior resea...,Entry level,81 applicants,Contract,https://id.linkedin.com/jobs/view/junior-resea...,https://id.linkedin.com/company/migo?trk=publi...,"Research,Analyst,Information Technology",Information Technology and Services
2454051026,2021-03-17,ZebraX,Data Engineer,"Kota Tangerang Selatan, Banten, Indonesia",Direct message the job poster from ZebraX Cha...,Mid-Senior level,78 applicants,Full-time,https://id.linkedin.com/jobs/view/data-enginee...,https://id.linkedin.com/company/zebra-x?trk=pu...,Information Technology,"Information Technology and Services,Computer S..."
2463430186,2021-03-16,Bibit.id,Data Engineer,"Jakarta, Indonesia",Direct message the job poster from Bibit.id F...,Mid-Senior level,146 applicants,Full-time,https://id.linkedin.com/jobs/view/data-enginee...,https://id.linkedin.com/company/bibit?trk=publ...,Information Technology,Financial Services
2495155296,2021-03-31,DKATALIS (Digital Katalis),Senior Machine Learning Engineer,"Jakarta, Jakarta, Indonesia",We require a machine learning engineer to work...,Associate,Be among the first 25 applicants,Full-time,https://id.linkedin.com/jobs/view/senior-machi...,https://id.linkedin.com/company/dkatalis?trk=p...,"Engineering,Information Technology","Information Technology and Services,Computer S..."
2442942866,2021-04-10,NielsenIQ,Sr Executive - Data Science,"Jakarta, Jakarta, Indonesia",About This Job Job Description As the world'...,Executive,67 applicants,Full-time,https://id.linkedin.com/jobs/view/sr-executive...,https://www.linkedin.com/company/nielseniq?trk...,Information Technology,"Marketing and Advertising,Retail,Financial Ser..."
2483775613,2021-03-31,PT Bank Jago Tbk,Data Engineer,"Jakarta, Jakarta, Indonesia",We are seeking a hands-on senior data engineer...,Entry level,Be among the first 25 applicants,Full-time,https://id.linkedin.com/jobs/view/data-enginee...,https://id.linkedin.com/company/pt-bank-jago-t...,Information Technology,Financial Services
2484182099,2021-03-07,Zenius,Market Researcher,"Jakarta, Jakarta, Indonesia",Being a part of the research team and doing en...,Associate,30 applicants,Full-time,https://id.linkedin.com/jobs/view/market-resea...,https://id.linkedin.com/company/pt-zenius-educ...,"Marketing,Sales","Marketing and Advertising,Computer Software,In..."
2497856079,2021-04-10,PT. Metrodata Electronics Tbk.,Presales Support Data Scientist - PT. Metrodat...,"West Nusa Tenggara, Indonesia",Qualifications For Job Vacancy Presales of Da...,Entry level,Be among the first 25 applicants,Full-time,https://id.linkedin.com/jobs/view/presales-sup...,https://id.linkedin.com/company/metrodata?trk=...,"Engineering,Information Technology","Information Technology and Services,Computer S..."
2483780522,2021-03-31,Xendit,Data Analyst - Fraud,"Jakarta, Jakarta, Indonesia",Xendit provides payment infrastructure across ...,Entry level,Be among the first 25 applicants,Full-time,https://id.linkedin.com/jobs/view/data-analyst...,https://id.linkedin.com/company/xendit?trk=pub...,Information Technology,"Computer Software,Internet,Financial Services"
2354990427,2020-12-22,HappyFresh,Senior Machine Learning Engineer,"Jakarta, Jakarta, Indonesia",HappyFresh is the fastest-growing online groce...,Associate,63 applicants,Full-time,https://id.linkedin.com/jobs/view/senior-machi...,https://id.linkedin.com/company/happyfresh?trk...,"Engineering,Information Technology","Marketing and Advertising,Computer Software,In..."
2426994191,2021-02-17,Moka,Data Engineer,"Jakarta, Jakarta, Indonesia",We are one of the fastest-growing technology s...,Entry level,131 applicants,Full-time,https://id.linkedin.com/jobs/view/data-enginee...,https://id.linkedin.com/company/mokapos?trk=pu...,Information Technology,"Information Technology and Services,Computer S..."
2483782212,2021-03-31,Cobblestone Energy,"DATA ENGINEER , DUBAI OR REMOTE","Jakarta, Jakarta, Indonesia",About Cobblestone Cobblestone Energy is an in...,Entry level,Be among the first 25 applicants,Full-time,https://id.linkedin.com/jobs/view/data-enginee...,https://uk.linkedin.com/company/cobblestone-en...,Information Technology,Oil & Energy
2475808430,2021-03-25,NRI (Nomura Research Institute),Data Engineer (Gramedia Digital),"Jakarta, Jakarta, Indonesia",Gramedia Digital is Kompas Gramedia Group of R...,Entry level,Be among the first 25 applicants,Full-time,https://id.linkedin.com/jobs/view/data-enginee...,https://jp.linkedin.com/company/nri-nomura-res...,Information Technology,"Marketing and Advertising,Online Media,Internet"
2491379172,2021-03-18,Ritase.com,Data Engineer - Jakarta,"Jakarta, Jakarta, Indonesia",Job Description & requirements As a Data Engi...,Entry level,Be among the first 25 applicants,Full-time,https://id.linkedin.com/jobs/view/data-enginee...,https://id.linkedin.com/company/ritase?trk=pub...,Information Technology,"Information Technology and Services,Computer S..."
2479909161,2021-04-07,IBM,IBM Services Associate: Developer (Graduates P...,"Jakarta, Jakarta, Indonesia","Introduction At IBM, we know that transformati...",Not Applicable,37 applicants,Full-time,https://id.linkedin.com/jobs/view/ibm-services...,https://www.linkedin.com/company/ibm?trk=publi...,Information Technology,Computer Hardware
2461562847,2021-03-23,APRIL,Tissue Culture Sr. Researcher,"Pangkalan Kerinci, Riau, Indonesia",Direct message the job poster from APRIL Henn...,Mid-Senior level,124 applicants,Full-time,https://id.linkedin.com/jobs/view/tissue-cultu...,https://sg.linkedin.com/company/april?trk=publ...,"Research,Science",Paper & Forest Products
2467693279,2021-04-06,Flip.id,Senior Data Engineer,"Depok, West Java, Indonesia",Direct message the job poster from Flip.id Wu...,Mid-Senior level,Be among the first 25 applicants,Full-time,https://id.linkedin.com/jobs/view/senior-data-...,https://id.linkedin.com/company/flip.id?trk=pu...,Engineering,"Financial Services,Banking,Information Technol..."
2491371935,2021-03-24,Sayurbox,Data Scientist - Sayurbox,"Jakarta, Indonesia",Sayurbox is a provider of fresh produce to hou...,Entry level,Be among the first 25 applicants,Full-time,https://id.linkedin.com/jobs/view/data-scienti...,NA,"Engineering,Information Technology","Marketing and Advertising,Market Research,Inte..."

In [24]:
job_data_2.to_excel(f"Job_data_{keyword}.xlsx")